* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  min-height: 100vh;
  
}

.homepage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #f5f5f5;
}

.homepage-div a {
  text-decoration: none;
  background-color: #7e57c2;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 100px;
  display: flex;
  justify-content: center;
  color: #eaeaea;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 30vw;
  background-color: white;
  padding: 20px;
  justify-content: space-around;
  border-radius: 10px;
}

.container button {
  background-color: #7e57c2;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 130px;
  display: flex;
  border: none;
  justify-content: center;
  color: #eaeaea; 
  cursor: pointer;
  transition: 0.3s all ease;
}

.container button:hover{
  color: #7e57c2;
  background-color: #c2c2c2;
}

.container div{
  display: flex;
  flex-direction: column;
  height: 20%;
  justify-content: space-around;
}

.container .create {
  text-decoration: none;
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  width: 130px;
  display: flex;
  justify-content: center;
  color: #7e57c2;
  transition: 0.4s ease all;
}

.container .create:hover {
  background-color: #b084f4;
  color: #eaeaea;
}

.login-div input {
  border: none;
  background-color: #eaeaea;
  width: 160%;
  padding: 10px;
  border-radius: 5px;
  margin-left: -30%;
}

h1 {
  color: #4d2b90;
}

.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 1.5vw;
  height: 1.5vw;
  transition: 0.3s ease all;
}

.arrow:hover{
  border: solid #818181;
  border-width: 0 4px 4px 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrowDiv {
  margin-left: -80%;
}

.notes-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.notes-div .header h1 {
  font-size: 42px;
}

.notes-div .header {
  margin-top: 8vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.notes-div .header button {
  width: fit-content;
  padding: 10px;
  background-color: #4d2b90;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 17px;
 cursor: pointer;
 transition: 0.3s ease all;
}

.notes-div .header button:hover{
  background-color: #7e57c2
}


.box {
  background-color: #4d2b90;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 60px;
  color: white;
  margin-left: -60%;
}

.create-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 60vw;
  height: 20vh;
  border-radius: 25px;
  margin-top: -30px;
}

#editing-create-div {
  margin-top: 50px;
  background-color: white;
  width: 100%;
  height: fit-content;
  padding: 10px 0px;
}

#editing-inputs {
  display: flex;
  flex-direction: column;
}


.create-div h3 {
  color:#4d2b90;
  font-size: 24px;
  margin-left: -30vw;
}

.create-div .inputs {
  display:flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  margin-top: 10px;
}

.create-div .inputs textarea {
  width: 70%;
  outline: none;
  border: none;
  background: #eaeaea;
  border-radius: 7px;
  padding: 10px;
}

.create-div .inputs button {
  width: 20%;
  background-color: #4d2b90;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.create-div .inputs button:hover{
  background-color: #7e57c2
}

.notes-div .notes {
  margin-top: 10vh;
}

.notes-div .notes h4 {
  font-size: 24px;
  margin-left: -20%;
}

.texts-div {
  display: flex;
  flex-direction: column;
}

.singular-text {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  width: 50vw;
  padding: 15px;
  border-radius: 15px;
}

.singular-text h3 {
  font-size: 21px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  word-wrap:  break-word;
}

.singular-text .more-infos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.singular-text .more-infos p {
  width: 30%;
  background-color: #eaeaea;
  color: black;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.singular-text .more-infos button {
  width: 20%;
  background-color: #4d2b90;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease all; 
  height: 30px;
}

.singular-text .more-infos button:hover{
  background-color: #7e57c2
}

.inputs .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 50%;
  justify-content: space-around;
}

.inputs .buttons button {
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs .buttons button:first-child{
  background-color: rgb(221, 76, 76);
}

/* este ultimo está bugando, pois na hora de mostrar as tarefas ou editá-las as divs ficam sobrepostas. consertar amanha */